[project]
name = "weather-data-pipeline"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "apache-airflow>=3.1.5",
    "apache-airflow-providers-standard>=1.10.1",
    "boto3>=1.42.14",
]
